
form.allsecureexchange_seamless {
    margin: 0 0 10px 0;
}

form.allsecureexchange_seamless .input-expire-month {
    float: left;
}

form.allsecureexchange_seamless .input-expire-year {
    float: left;
    margin: 0 0 0 10px;
}

form.allsecureexchange_seamless .input-seamless {
    height: 32px;
}
