<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
<default>
    <payment>
        <allsecureexchange>
            <model>Allsecureexchange\Allsecureexchange\Model\Pay</model>
            <active>0</active>
            <title>Credit Card</title>
            <operation_mode>test</operation_mode>
            <checkout_mode>paymentjs</checkout_mode>
            <merchant_bank>none</merchant_bank>
            <banner_type>none</banner_type>
            <transaction_email>0</transaction_email>
            <allowspecific>0</allowspecific>
            <order_status>pending_payment</order_status>
            <payment_action>debit</payment_action>
            <debug>0</debug>
        </allsecureexchange>
        
        <allsecureexchange_sofort>
            <model>Allsecureexchange\Allsecureexchange\Model\PaySofort</model>
            <active>0</active>
            <title>Allsecure Exchange Sofort</title>
        </allsecureexchange_sofort>
        
    </payment>
</default>
</config>