<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <allsecureexchange>
            <general>
                <username></username>
                <password></password>
                <host></host>
                <sandbox>0</sandbox>
            </general>
        </allsecureexchange>
        <payment>
            <allsecureexchange_creditcard>
                <active>1</active>
                <model>allsecureexchange\allsecureexchange\Model\Payment\CreditCard</model>
                <title>Credit Cards</title>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <api_key></api_key>
                <shared_secret></shared_secret>
                <integration_key></integration_key>
                <seamless>0</seamless>
            </allsecureexchange_creditcard>
        </payment>
    </default>
</config>
